@mixin sm {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 1023px) {
    @content;
  }
}
