.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 9rem 2rem 0;
  text-align: center;
  color: white;
  z-index: 20;
  height: 100vh;
  position: relative;

  h2 {
    font-size: 1.875rem;
    font-weight: bold;
  }

  p {
    font-weight: bold;

    a {
      text-decoration: underline;
      text-underline-offset: 0.25rem;
      color: #3182ce;
    }
  }
}
