@import "mixins.scss";

.timeline {
  width: 100%;

  .timelineItem {
    .timelineSeparator {
      .timelineConnector {
        height: 425px;

        @include sm {
          height: 300px;
        }

        @include md {
          height: 250px;
        }

        @include lg {
          height: 425px;
        }

        @include xl {
          height: 400px;
        }
      }
    }
  }
  // @include lg {
  //   width: 100%;
  // }
}
