@import "../mixins.scss";

.experienceCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #121212;

  @include xl {
    padding: 0 30px 30px;
  }

  .experienceCardHeader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: lightblue;
    font-weight: bold;
    font-size: 1rem;

    @include lg {
      font-size: 1.2rem;
    }
  }

  .description {
    font-size: 0.8rem;

    @include lg {
      font-size: 1rem;
    }
  }
}
